body {
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-color: #1f2937;
    padding: 0 4rem 0 4rem;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-header ul {
    display: flex;
    list-style-type: none;
    gap: 16px
}

.nav-header ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Roboto;
}
















.heroplaceholder img {
width: 20%;
}