* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.hero {
    background-color: hsl(215, 28%, 17%);
    padding: 4px 8rem 20px 8rem; 
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Nav Menu */

.nav-header ul {
    display: flex;
    list-style-type: none;
    gap: 16px
}

.nav-header ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

/* Main Hero Container */

.hero-container {
    padding: 60px 0 60px 0;
}

.herocontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* Left Hero Container */

.titletexthero {
    display: flex;
    flex-direction: column;
}

/* Title Hero */

.titletexthero h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    line-height: 50px;
    padding-bottom: 10px;

}

/* SubText Hero */

.titletexthero p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 4px;
    padding-bottom: 10px;
}

/* Button Hero */

.titletexthero button {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 6px 20px 6px 20px
}

/* Image Hero */

.heroimg {
    max-width: 20rem;
    display: flex;
    align-items: center;
}


