* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: hsl(215, 28%, 17%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

/* Nav Menu */

.nav-header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.nav-header ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Main Hero Container */

.hero-container {
    padding: 60px 0 60px 0;
    max-width: 1200px;
    margin: auto;
}

.herocontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* Left Hero Container */

.titletexthero {
    display: flex;
    flex-direction: column;
}

/* Title Hero */

.titletexthero h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    line-height: 50px;
    padding-bottom: 10px;

}

/* SubText Hero */

.titletexthero p{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 4px;
    padding-bottom: 10px;
}

/* Button Hero */

.titletexthero button {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 6px 20px 6px 20px
}

/* Image Hero */

.heroimg {
    max-width: 20rem;
    display: flex;
    align-items: center;
}

/* Flexline section */

.flexline {
    max-width: 1200px;
    margin: auto ;
    padding: 3rem 0 6rem 0;
}


/* Second Section Title */

.flexline-title h3  {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3rem;

}

/* Second Section Content */

.flexline-container {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    gap: 40px;

}

/* Container Content */

.colorchoice{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.imagecolor {
    max-width: 100%;
    max-height: 100%;
}


.imagecolor .color {
    background-color: white;
    width: 100%;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.textcolor {
    text-align: center;
    margin: 0;
    width: 100%;
}

.quote {
    background-color: #e5e7eb;
}

.quote-container {
    max-width: 1200px;
    margin: auto;
    padding: 6rem;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
}

.author-text{
    font-weight: 900;
    text-align: right;
}

.cta-container {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    max-width: 1200px;
    margin: 6rem auto 6rem auto;
}

.cta-textgroup {
    color: white;
}

.cta-textgroup h3{
    font-weight: bold;
}

.cta-button button{
    background-color: transparent;
    color: white;
    border-radius: 4px;
    border: 2px solid white;
    padding: 6px 20px 6px 20px;
}

footer {
    background-color: #1f2937;
    color: white;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 0 2rem 0;
    text-align: center;
    font-weight: 200;
}